.abonements-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 40px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  row-gap: 39px;

  @include vp-1239 {
    column-gap: 20px;
  }

  @include vp-1199 {
    flex-direction: column;
  }

  @include vp-767 {
    align-items: center;
    row-gap: 32px;
  }

  & li {
    background-color: $color-default-white;
    min-width: 360px;
    min-height: 447px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover {
      border: 7px solid transparent;
      border-image: linear-gradient(#d10a42 1%, #00359f 100%);
      border-image-slice: 1;

      & h3 {
        margin-top: 54px;

        @include vp-767 {
          margin-top: 44px;
        }
      }

      & a {
        background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
        color: $color-default-white;
        margin-top: 30px;

        @include vp-767 {
          margin-top: 26px;
        }
      }
    }

    &:focus {
      border: 7px solid transparent;
      border-image: linear-gradient(#d10a42 1%, #00359f 100%);
      border-image-slice: 1;

      & h3 {
        margin-top: 54px;

        @include vp-767 {
          margin-top: 44px;
        }
      }

      & a {
        background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
        color: $color-default-white;
        margin-top: 30px;

        @include vp-767 {
          margin-top: 26px;
        }
      }
    }

    &:active {
      border: 7px solid transparent;
      border-image: linear-gradient(#d10a42 1%, #00359f 100%);
      border-image-slice: 1;

      & h3 {
        margin-top: 54px;

        @include vp-767 {
          margin-top: 44px;
        }
      }

      & a {
        background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
        color: $color-default-white;
        margin-top: 30px;

        @include vp-767 {
          margin-top: 26px;
        }
      }
    }

    & h3 {
      font-weight: 700;
      font-size: 26px;
      line-height: 29px;
      margin-bottom: 10px;
      margin-top: 63px;

      @include vp-767 {
        font-size: 22px;
        line-height: 24px;
        margin-top: 55px;
      }
    }

    @include vp-1199 {
      max-width: 442px;
      width: 100%;
      min-height: 447px;
      align-self: center;

      &:last-of-type a {
        margin-top: 31px;
      }

      // @include hover-focus {

      //   & h3 {

      //   }
      //   & a {

      //   }
      // }
    }

    @include vp-767 {
      aspect-ratio: 0.59 / 0.78;
      min-width: 290px;
      max-width: 430px;
      width: 100%;
      min-height: 385px;
      max-height: 514px;

      &:first-of-type h3 {
        @include vp-767 {
          margin-top: 49px;
        }
      }

      &:last-of-type a {
        margin-top: 24px;
      }

      @include hover-focus {
        // & h3 {

        // }
      }
    }

    & p {
      margin-top: 0;
      margin-bottom: 10px;
    }

    & span:first-of-type {
      display: block;
      position: relative;
      font-size: 100px;
      line-height: 150px;
      color: #e8e8e8;
      font-weight: 700;

      @include vp-767 {
        font-size: 80px;
        line-height: 120px;
      }

      & span {
        position: absolute;
        content: "";
        color: $color-default-black;
        font-weight: 700;
        font-size: 60px;
        line-height: 90px;
        left: calc(50% - 83px);
        bottom: 6px;

        @include vp-767 {
          font-size: 48px;
          line-height: 72px;
          left: calc(50% - 65px);
        }

        &::after {
          display: inline-flex;
          content: url("../img/sprite/rub.svg");
          width: 32px;
          height: 42px;
          margin-left: 14px;

          @include vp-767 {
            width: 24px;
            height: 33px;
          }
        }
      }
    }

    & a {
      margin-top: 28px;
      min-width: 206px;
      min-height: 64px;
      border: 2px solid $color-default-black;

      @include vp-767 {
        margin-top: 26px;
      }

      @include hover-focus {
        background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
        color: $color-default-white;
      }

      &:active {
        background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
        color: $color-default-white;
      }
    }
  }

  // & .active {
  //   border: 7px solid transparent;
  //   border-image: linear-gradient(#d10a42 1%, #00359f 100%);
  //   border-image-slice: 1;

  //   & a {
  //     background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
  //     color: $color-default-white;
  //   }
  // }
}
