.abonements {
  background: url("../img/rogl-decor.png") right bottom -19%, linear-gradient(to bottom, $color-bg-abonement 92%, $color-default-white 92%);
  background-repeat: no-repeat;
  min-height: 920px;
  padding-top: 120px;
  padding-bottom: 120px;

  @include vp-1199 {
    background: url("../img/rogl-decor-tablet.png") right bottom -7.9%, linear-gradient(to bottom, $color-bg-abonement 99%, $color-default-white 99%);
    background-repeat: no-repeat;
    padding-top: 100px;
  }

  @include vp-767 {
    padding-top: 62px;
    background: linear-gradient(to bottom, $color-bg-abonement 95%, $color-default-white 95%);
  }

  & h2 {
    text-align: center;
    font-family: 'Alumni Sans';
    font-weight: 600;
    font-size: 54px;
    line-height: 65px;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 10px;

    @include vp-1199 {
      font-size: 42px;
      line-height: 50px;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 38px;
    }
  }
}

/* Стиль вкладки */
.tab {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 341px;
  overflow: hidden;
  padding-bottom: 2px;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);
  margin-bottom: 40px;

  @include vp-1199 {
    margin-bottom: 45px;
    width: 332px;
  }

  @include vp-767 {
    width: 287px;
    margin-bottom: 35px;
  }
}

/* Стиль кнопок, которые используются для открытия содержимого вкладки */
.tab button {
  background-color: inherit;
  // float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 0;
  padding-bottom: 11px;
  transition: 0.3s;

  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: rgba(16, 38, 84, 0.5);

  @include vp-1199 {
    font-size: 18px;
    line-height: 27px;
    padding-bottom: 12px;
    padding-top: 18px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 24px;
    padding-top: 22px;
    padding-bottom: 11px;
    padding-left: 2px;
    padding-right: 2px;
  }

  @include hover-focus {
    color: $color-default-black;
  }
}

/* Создание активного/текущего класса связи вкладки */
.tab button.active {
  box-shadow: 0 2px #d10a42;
  color: $color-default-black;
}

/* Стиль содержимого вкладки */
// .tabcontent {
//   display: none;
//   padding: 6px 12px;
//   border: 1px solid #ccc;
//   border-top: none;
// }
