.advantages {
  background-color: $color-bg-abonement;
  padding-top: 102px;

  @include vp-1199 {
    padding-top: 57px;
  }

  & h2 {
    font-family: 'Alumni Sans';
    font-weight: 600;
    font-size: 54px;
    line-height: 65px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-left: 8px;
    margin-bottom: 47px;

    @include vp-1199 {
      font-size: 42px;
      line-height: 50px;
      margin-left: 0;
      margin-right: 10px;
      margin-right: 22px;
      margin-bottom: 42px;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 38px;
    }
  }
}

.advantages ul {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 307px;

  // display: flex;
  // flex-wrap: wrap;
  position: relative;
  // justify-content: space-between;
  // column-gap: 240px;
  max-width: 1040px;
  margin: 0 auto;


  margin-top: 0;

  @include vp-1199 {
    // justify-content: center;
    max-width: 670px;

    // grid-template-columns: 1fr;
    // grid-template-rows: repeat(3, 1fr);
  }

  @include vp-767 {
    // display: grid;
    // grid-template-columns: min-content;
    // flex-direction:  column;
    // display: flex;
    // flex-direction: column;
  }

  & h3 {
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 7px;
    margin-top: 0;

    @include vp-1199 {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 2px;
    }
  }

  & p {
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.advantages li {
  display: flex;
  width: 341px;
  min-height: 162px;

  & span {
    display: inline-flex;
    flex-direction: column;
    background: linear-gradient(127.61deg, #D10A42 0%, #0041CA 45.58%);
    font-size: 71px;
    line-height: 66px;
    font-weight: 700;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    @include vp-1199 {
      font-size: 58px;
      line-height: 87px;
      line-height: 60px;
    }

    & small {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: #2e35ac;
    }
  }

  &:first-of-type {
    grid-column-start: 1;
    grid-column-end: 2;
    padding-left: 20px;
    border-bottom: 2px solid rgba(209, 10, 66, 0.2);

    @include vp-1199 {
      border-bottom: none;
      padding-left: 0;
    }
  }

  &:nth-of-type(2n) {
    grid-column-start: 3;
    grid-column-end: -1;
    border-bottom: 2px solid rgba(209, 10, 66, 0.2);

    @include vp-1199 {
      border-bottom: none;
    }
  }

  &:nth-of-type(3n) {
    grid-column-start: 2;
    grid-column-end: 3;
    background: #1c3374;
    align-self: center;
    color: $color-default-white;
    flex-direction: column;
    align-items: center;
    min-height: 307px;


    width: 240px;
    position: absolute;
    left: calc(50% - 122px);

    & br {
      display: none;

      @include vp-1199 {
        display: block;
      }
    }

    & h3 {
      color: $color-default-white;
      text-align: center;
      font-size: 26px;
      line-height: 39px;
      margin-bottom: 30px;

      @include vp-1199 {
        font-size: 22px;
        line-height: 33px;
        margin-bottom: 15px;
      }
    }

    & span {
      background: $color-default-white;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-top: 56px;
      margin-bottom: 8px;
      font-size: 74px;

      @include vp-1199 {
        margin-top: 40px;
        margin-bottom: 6px;
      }

      & small {
        color: $color-default-white;
      }
    }

    & .advantages__text {
      padding-left: 0;
    }

    & p {
      text-align: center;
      // margin-bottom: 0;
      font-size: 16px;
      line-height: 24px;
    }

    @include vp-1199 {
      position: static;
      min-width: 442px;
      margin: 0 auto;
      grid-column-start: 1;
      grid-column-end: -1;
      min-height: 239px;
      margin-left: calc(50% - 65px);
    }

    @include vp-767 {
      width: 290px;
      align-self: flex-start;
      margin: 0;
    }
  }

  &:nth-of-type(4n) {
    grid-column-start: 1;
    grid-column-end: 2;
    padding-left: 20px;

    & span {
      justify-content: end;
    }

    & .advantages__text {
      display: flex;
      flex-direction: column;
      justify-content: end;
    }

    @include vp-1199 {
      padding-left: 0;
    }
  }

  &:nth-of-type(5n) {
    grid-column-start: 3;
    grid-column-end: -1;

    & span {
      justify-content: end;
    }

    & .advantages__text {
      padding-left: 33px;

      display: flex;
      flex-direction: column;
      justify-content: end;

      @include vp-1199 {
        padding-left: 27px;
      }
    }

    & h3 {
      @include vp-1199 {
        margin-bottom: 0;
      }
    }

    & p {
      margin-bottom: 5px;

      @include vp-1199 {
        margin-bottom: 3px;
      }
    }
  }

  @include vp-1199 {
    width: 317px;
    min-height: 120px;
  }

  @include vp-767 {
    // width: 290px;
    flex-direction: column;

    &:nth-of-type(n) {
      grid-column-start: 1;
      grid-column-end: -1;
    }
  }
}

.advantages__text {
  padding-left: 30px;

  @include vp-1199 {
    padding-left: 26px;
  }
}
