.header__logo-image,
.footer__logo-image {
  &--primary {
    display: none;
  }

  &--secondary {
    display: none;
  }

  @include vp-1199 {
    display: none;

    &--primary {
      display: block;
    }
  }

  @include vp-767 {
    display: none;

    &--primary {
      display: none;
    }

    &--secondary {
      display: block;
    }
  }
}
