.offers {
  padding-top: 104px;
  padding-bottom: 100px;

  @include vp-1199 {
    padding-top: 57px;
    padding-bottom: 75px;
  }

  @include vp-767 {
    padding-top: 38px;
    padding-bottom: 48px;
  }

  & h2 {
    font-family: "Alumni Sans", sans-serif;
    font-weight: 600;
    font-size: 54px;
    line-height: 65px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-left: 8px;
    margin-bottom: 34px;

    @include vp-1199 {
      font-size: 42px;
      line-height: 50px;
      margin-left: 10px;
      margin-right: 22px;
      margin-bottom: 42px;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 38px;
    }
  }
}

.offers__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;

  @include vp-1199 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 30px;
  }

  & a {
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    border-bottom: 1px solid $color-default-white;

    @include hover-focus {
      opacity: 0.5;
    }
  }
}

.offers__wrapper-primary {
  display: flex;
  background-color: $color-torch-red;
  color: $color-default-white;

  @include vp-1199 {
    width: 100%;
  }

  @include vp-767 {
    flex-wrap: wrap;
    width: 100%;
  }

  & div {
    min-width: 280px;

    @include vp-767 {
      min-width: 290px;
      width: 100%;
    }
  }

  & div:first-of-type {
    padding-left: 45px;
    display: flex;
    flex-direction: column;

    @include vp-1199 {
      margin-right: auto;
    }

    @include vp-767 {
      padding-left: 0;
      text-align: center;
    }
  }

  & div:last-of-type {
    @include vp-1199 {
      min-width: 399px;
    }

    @include vp-767 {
      min-width: 290px;
    }
  }

  & p:first-of-type {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 28px;
    line-height: 44px;
    margin-top: 32px;
    margin-bottom: 14px;

    @include vp-767 {
      margin-bottom: 8px;
    }

    & span {
      font-weight: 700;
      font-size: 70px;
      margin-top: 10px;
    }
  }

  & p:not(:first-of-type) {
    font-size: 18px;
    line-height: 25px;

    @include vp-767 {
      margin-bottom: 31px;
    }
  }

  & a {
    color: $color-default-white;
    margin-top: auto;
    margin-bottom: 45px;
    align-self: baseline;

    @include vp-767 {
      align-self: center;
    }
  }

  & img {
    display: block;
    object-fit: cover;
    height: 100%;

    @include vp-1199 {
      display: block;
      object-fit: cover;
      max-height: 462px;
      width: 100%;
    }

    @include vp-767 {
      max-height: none;
    }
  }
}

.offers__wrapper-secondary {
  display: flex;

  @include vp-1199 {
    width: 100%;
  }

  @include vp-767 {
    width: 100%;
  }

  & ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;

    @include vp-1199 {
      row-gap: 10px;
      justify-content: space-between;
      width: 100%;
      max-width: 768px;
      margin: 0 auto;
    }
  }

  & h3 {
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 10px;

    @include vp-767 {
      margin-top: 36px;
    }
  }

  & p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-top: 0;
  }

  & a {
    font-size: 12px;
    line-height: 14px;
    margin-top: auto;
    border-bottom: 1px solid $color-default-black;
    align-self: baseline;
    margin-bottom: 29px;

    @include vp-767 {
      margin-top: 12px;
      align-self: center;
    }
  }

  & li {
    border: 7px solid transparent;
    border-image: linear-gradient(#d10a42 1%, #00359f 100%);
    border-image-slice: 1;
    min-height: 211px;
    min-width: 560px;
    padding-left: 30px;

    display: flex;
    flex-direction: column;

    @include vp-1199 {
      min-width: 324px;
      max-width: 324px;
      padding-left: 29px;
      padding-right: 10px;
    }

    @include vp-767 {
      min-width: 290px;
      width: 100%;
      max-width: 100%;
      padding-right: 0;
      padding-left: 0;
      text-align: center;
    }


    &:first-of-type br {
      display: none;

      @include vp-1199 {
        display: block;
      }
    }

    &:last-of-type br {
      display: none;

      @include vp-767 {
        display: block;
      }
    }

    &:not(:last-of-type) {
      margin-bottom: 40px;

      @include vp-1199 {
        margin-bottom: auto;
      }

      @include vp-767 {
        margin-bottom: 20px;
      }
    }
  }
}
