.reviews {
  padding-bottom: 120px;
  padding-top: 16px;

  @include vp-1199 {
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-bottom: 70px;
  }

  & h2 {
    font-family: "Alumni Sans", sans-serif;
    font-weight: 600;
    font-size: 54px;
    line-height: 65px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-left: 8px;
    margin-bottom: 38px;
    margin-top: 0;

    @include vp-1199 {
      font-size: 42px;
      line-height: 50px;
      margin-bottom: 42px;
      margin-right: 10px;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 38px;
    }
  }
}

.reviews__swiper {
  & .swiper-button-next::after {
    font-size: 31px;
    color: #afafaf;

    @include vp-767 {
      font-size: 21px;
    }
  }

  & .swiper-button-prev::after {
    font-size: 31px;
    color: #afafaf;

    @include vp-767 {
      font-size: 21px;
    }
  }
}

.reviews__container {
  width: 783px;
  padding: 0 40px;

  @include vp-1199 {
    width: 100%;
    min-width: 768px;
    max-width: 1070px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @include vp-767 {
    min-width: 320px;
    max-width: 767px;
    padding-left: 8px;
    padding-right: 8px;
  }

  & .swiper-button-next {
    @include vp-767 {
      right: 0;
    }
  }

  & .swiper-button-prev {
    @include vp-767 {
      left: 0;
    }
  }

  & .reviews__swiper-slide {
    & > div {
      width: 562px;
      margin: 0 auto;
      background: #1c3374;
      color: $color-default-white;

      display: grid;
      grid-template-rows: 33px;
      grid-template-columns: 80px 1fr;
      padding: 62px;
      column-gap: 28px;
      padding-bottom: 43px;

      @include vp-767 {
        grid-template-rows: auto;
        grid-template-columns: 68px 1fr;
        column-gap: 15px;
        padding: 40px 25px;
        width: 60%;
        min-width: 226px;
        max-width: 556px;
        padding-bottom: 20px;
      }
    }

    & img {
      @include vp-767 {
        margin-left: 15px;
      }
    }

    & h3 {
      font-weight: 700;
      font-size: 20px;
      line-height: 15px;
      margin-top: 0;

      @include vp-767 {
        line-height: 26px;
        margin-bottom: 21px;
        margin-top: 10px;
        margin-left: 16px;
      }

      & br {
        display: none;

        @include vp-767 {
          display: block;
        }
      }
    }

    & p {
      font-size: 16px;
      line-height: 22px;
      grid-column-start: 2;
      margin-top: 0;

      @include vp-767 {
        text-align: center;
        grid-column-start: 1;
        grid-column-end: -1;
      }
    }
  }
}
